.wy-side-nav-search>div.version {
color:rgba(255,255,255,1.0)
}

/* override table width restrictions */
@media screen and (min-width: 767px) {

  .wy-table-responsive table td {
    /* !important prevents the common CSS stylesheets from
       overriding this as on RTD they are loaded after this stylesheet */
    white-space: normal !important;
  }

  .wy-table-responsive {
    overflow: visible !important;
  }

}

.wy-nav-content {
  max-width: 1080px !important;
}

.rst-content .admonition-version {
  background: #dffcd7;
  }

.rst-content .admonition-version .admonition-title {
  background: #4a9b32;
  }

/*Contrast improvement for accessibility*/

.rst-content a {
  text-decoration: underline;
  color: #2573A7;
}

body, .rst-content .admonition-title, .wy-alert-title {
  color: #212121;
}

.rst-content .attention, .rst-content .warning, .rst-content .caution {
  background: #FFF0CC;
}

.wy-side-nav-search a.icon {
  font-size: 24px;
}

/* End Contrast improvement */

/* Styling for custom search button */

/* Style the search */
.wy-side-nav-search input[type="text"]{
	float:left;
	width:80%	
}
/* Style the button */
form#rtd-search-form button {
  float: right;
  width: 20%;
  padding: 5px;
  background: #4e4a4a;
  color: #fcfcfc;
  border-left: none;
  border-left-color: currentcolor;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  font-weight: 400;
  cursor: pointer;
  font-family: Lato,proxima-nova,Helvetica Neue,Arial,sans-serif;
  border-color: transparent;
  font-size: small;
  margin: 0;
}

form#rtd-search-form button:hover {
  background: #9b9b9b;
}

/* Clear floats */
form#rtd-search-form::after {
  content: "";
  clear: both;
  display: table;
}

/* End search button styling */